@model LetsEncrypt.SiteExtension.Models.RequestAndInstallModel

@{
    ViewBag.Title = "Request and Install Certificate";
}

<h2>@ViewBag.Title</h2>
<p>
    Select the custom domain names for which you want to request a Let's Encrypt SSL certificate, and provide your email, in order to create an account with Let's Encrypt. 
</p>
<p>
    Note that you can only request 5 certificates per week for the same domain, so if you are running tests, make sure to use the staging environment, where you have unlimited.
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Hostnames, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.Hostnames, ViewBag.HostNames as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hostnames, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UseStaging, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UseStaging, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UseStaging, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
            </div>
        </div>
    </div>
    <div>
            @Html.ActionLink("Back", "Hostname", null, new { @class = "btn btn-default" })
        <input type="submit" value="Request and Install certificate" class="btn btn-primary pull-right" />
    </div>
    
}


